/* reset and common code start */
:root{
    --header-color: #20494f;
    --footer-color: #20494f;
    --about-me-bg-color: #20494f;
    --contact-me-bg-color: #2f1a68;
    --about-me-card-color: #A09D9D;
    --hover-bg-color: #3e0504;
    --hover-text-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: 0;
    font-weight: 400;
}
html{
    background: #FAFAFA;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}
/* font-family: "Roboto", sans-serif;
    font-family: "Italianno", cursive; */
body{
    max-width: 120rem;
    width: 100%;
    background: #ffffff;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem -0.1rem 0.1rem #c4c4c4;
}
img{
    max-width: 100%;
}
.text-justify{
    text-align: justify
}
.section-heading{
    font-size: 8rem;
    text-align: center;
    font-family: "Italianno", cursive;
    font-weight: 400;
    text-align: center;
}
/* reset and common code End */

/* blog header Start */
#blog-header{
    display: flex;
    flex-direction: row;
    background: var(--header-color);
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    padding: 1.8rem 1.1rem;
    position: sticky;
    top: 0;
    /* height: 5vh; */
    z-index: 100;
}
/* .hidden {
    display: none;
} */
#menu-icon{
    display: none;
}
.logo-figure i{
    font-size: 4rem;
    border: 1px solid #ffffff;
    
}
#menu {
    display: flex;
}
#menu ul{
    display: flex;
    flex-direction: row;
}
#menu ul li{
    margin: 0 5px;
}
#menu ul li:last-child{
    margin: 0rem;
}
#menu ul li a{
    display: inline-block;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.1s;
}
#menu ul li a:hover{
    background: var(--hover-bg-color);
    color: var(--hover-text-color);
}
/* blog header End */

/* Blog Banner Section Start */
#blog-banner-section{
    display: flex;
    padding: 1.1rem;
    min-height: 95vh;
    /* background: green; */
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
.blog-heading {
    display: inline-block;
    background: var(--header-color);
    color: #ffffff;
    padding: 1rem 1.1rem;
    font-size: 4rem;
    margin-bottom: 1.9rem;
}
.blog-description{
    font-size: 1.9rem;
}
#blog-banner-section article{
    flex-basis: 50%;
    padding: 10px;
    /* text-align: justify; */
}
#blog-banner-section aside{
    flex-basis: 50%;
    padding: 10px;
}
#blog-banner-section aside img{
    width: 60rem;
    height: 60rem;
    border: 3px solid #000000;
}
/* Blog Banner Section End */

/* About Me Section Start */
#about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 2rem;
    background: var(--about-me-bg-color);
    min-height: 95vh;
}
#about-me .section-heading{
    color: #ffffff;
    
}
#about-me .card-container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 50px;
}
#about-me .card{
    width: 35%;
    background: var(--about-me-card-color);
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0.4rem 0.4rem 1rem #000;
    transition: 0.3s;
}
#about-me .card:hover{
    transform: scale(1.1);
}
#about-me .card-header{
    margin-bottom: 1rem;
}
#about-me .card-description{
    font-size: 1.7rem;
    text-align: justify;
    margin: 3rem 0;
}
#about-me .btn{
    display: block;
    width: 100%;
    background: #E69F08;
    color: #000000;
    padding: 10px 20px;
    font-size: 1.8rem;
    margin: 10px 0;
    border: 1px solid #000000;
    box-shadow: 0.1rem 1rem 1rem #000000;
    border-radius: 5px;
    transition: 0.3s;

}
#about-me .btn:hover{
    background: #000;
    color: #fff;
}
/* About Me Section End */

/* archives Section Start */
#archives{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
    height: 95vh;
    padding: 20px;
}
#archives .card-container .card{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 5rem 3rem;
}
#archives .card-container .card img{
    width: 17%;
    height: 120px;
    border-radius: 1rem;
    transition: 0.3s;
}
#archives .card-container .card img:hover{
    transform: scale(1.1);
}
/* archives Section End */

/* Blog Post Section Start */
#blog-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 95vh;
    padding: 4rem;
    /* margin: 2rem 0; */
}
#blog-post .spacing{
    margin-bottom: 5rem;
}
#blog-post .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#blog-post .card{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    box-shadow: 0.1rem 0.1rem 0.1rem #222,-0.1rem 0.1rem 1rem #222;
    margin-bottom: 1.9rem;
    background: #FFFFFF;
    margin: 1rem 0;
    transition: 0.3s;
}
#blog-post .card:hover{
    transform: scale(1.1);
}
#blog-post .card .blog-img{
    width: 40%;
}
#blog-post .card .blog-content{
    padding: 2rem;
}
#blog-post .card .blog-img img{
    width: 100%;
    height: 100%;
}
#blog-post .card h3 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
#blog-post .card h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
#blog-post .card p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
#blog-post .card a{
    display: inline-block;
    background: #E69F08;
    color: #000000;
    font-size: 1.5rem;
    padding: 1rem 5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem #000;
    transition: 0.3s;
}
#blog-post .card a:hover{
    background: #000;
    color: #fff;
     box-shadow: 0.1em 0.5rem 1rem #240000;
}
#blog-post .card .blog-content {
    width: 60%;
}
/* Blog Post Section End */

/* Contact Me Section Start */
#contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--contact-me-bg-color);
    min-height: 95vh;
    padding: 10rem;
}
.contact-shadow{
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
    border-radius: 1rem;
    overflow: visible; /* shadow safe */
}

#contact-me #contact-form{
    box-shadow: none; /* shadow wrapper এ যাবে */
    overflow: hidden; /* content safe */
    border-radius: 1rem;
    width: 100%;
}
#contact-me .heading{
    color: #ffffff;
    margin-bottom: 7rem;
}
#contact-me #contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.1rem #222,-0.1rem -0.1rem 0.1rem #222;
    padding: 2rem;
    /* overflow: hidden; */
}

#contact-me #contact-form .form-control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.7rem;
    /* width: 100%; */
}
#contact-me #contact-form .form-control label{
    /* margin-right: 0px; */
    color: #fff;
    font-size: 1.7rem;
    flex: 0.3;
}
#contact-me #contact-form .form-control input[type=text],#contact-me #contact-form .form-control input[type=email],#contact-me #contact-form .form-control #message{
    flex: 0.7;
     width: 100%;
    max-width: 100%;
    border-radius: 5px;
    padding: 2rem;
    border: none;
}

#contact-me #contact-form .form-control input[type=submit]{
    width: 15rem;
    display: block;
    background: #E69F08;
    padding: 1rem 2rem;
    border-radius: 1rem;
    /* margin-left: 30rem; */
    text-transform: uppercase;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 1.7rem;
    transition: 0.3s;
}
#contact-me #contact-form .form-control input[type=submit]:hover{
    background: #240000;
    color: #fff;
}
#contact-me #contact-form .form-control #message {
    width: 38rem;
    resize: none;
    min-height: 12vh;
    /* margin-right: 0px; */
    flex: 0.7;
}
/* Contact Me Section End */
/* Footer Start */
#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--footer-color);
    color: #ffffff;
    font-size: 1.5rem;
    padding: 2rem 3rem;
}
#footer .footer-menu ul{
    display: flex;
}
#footer .footer-menu ul li{
    margin: 1rem;
}
#footer .footer-menu ul li a{
    color: #ffffff;
    padding: 0.9rem;
    font-size: 2.5rem;
    transition: 0.3s;
    border-radius: 0.5rem;
}
#footer .footer-menu ul li a:hover{
    background: var(--hover-bg-color);
    color: var(--hover-text-color);
}
/* Footer End */
